<mat-toolbar color='primary'>
  <mat-toolbar-row>
    Material Component
    <span class="spacer"></span>
    <a mat-button routerLink="i18n" routerLinkActive="active">i18n</a>
    <a mat-button routerLink="typography" routerLinkActive="active">Typography</a>
    <a mat-button routerLink="buttonsAndIndicators" routerLinkActive="active">Butttons</a>
    <a mat-button [matMenuTriggerFor]="layouts" routerLinkActive="active">
      Layout
      <mat-icon aria-hidden="false" aria-label="Example drop down icon">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #layouts="matMenu">
      <a mat-menu-item routerLink="stepper">Stepper</a>
      <a mat-menu-item routerLink="tree">Tree</a>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="formControl" routerLinkActive="active">
      Form Control
      <mat-icon aria-hidden="false" aria-label="Example drop down icon">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #formControl="matMenu">
      <a mat-menu-item routerLink="autocomplete">Autocomplete</a>
      <a mat-menu-item routerLink="tree">Tree</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>